:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

#section_cards {
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

.card.active {
    display: none;
}

button {
    width: 80%;
}

.check_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:  10px
}

.first_name.active {
    text-decoration: line-through;
}

input {
    margin-right: 10px;
}

.text_todo {
    display: flex;
    justify-content: center;
    gap: 50px;
}
 
.what_todo {
    width: 400px;
    height: 50px;
}

.add_todo {
    width: 100px;
    height: 55px;
}

.msg {
    text-align: center;
    margin: 30px 0;
}